.footer {
    margin-top: 15.6rem;

    .link {
        display: flex;
        align-items: end;
        order: 1;

        .feedback {
            color: var(--primary-light-6);
        }
    }

    .cardWrapper {
        display: flex;
        justify-content: end;
        order: 2;
    }
}

@media screen and (max-width: 900px){
    .footer {
        margin-top: 23.7rem;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 0;

        .link {
            display: flex;
            justify-content: center;
            order: 2;
        }

        .cardWrapper {
            order: 1;
        }
    }
}
